body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}
nav {
    width: 250px;
    background-color: rgb(228, 93, 63);
    position: absolute;
    height: 100%;
    padding-top: 20px;
}
nav a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}
nav a:hover {
    background-color: rgb(223, 113, 89);
}
.content {
    margin-left: 260px;
    padding: 20px;
    align-content: center;
}
.content img{
 opacity: 55%;
}
.dropdown-container {
    display: none;
    background-color: rgb(228, 93, 63);
    padding-left: 20px;
}
.dropdown-btn {
    background-color: rgb(228, 93, 63);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.dropdown-btn:hover {
    background-color: rgb(228, 93, 63);
}
.dropdown-container a {
    color: #ddd;
}
.dropdown-container a:hover {
    background-color: rgb(228, 93, 63);
}
.ajolote{
    max-height: 150px;
    max-width: 70px;
    position: relative;
}